<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.4/phpunit.xsd"
         bootstrap="Tests/bootstrap.php"
         processIsolation="true"
         stopOnError="true"
         stopOnFailure="true"
         verbose="true"
         colors="true">
    <testsuites>
        <testsuite name="Koded Session Test Suite">
            <directory>./Tests</directory>
        </testsuite>
    </testsuites>

    <!-- code coverage -->
    <filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>build</directory>
                <directory>vendor</directory>
                <directory>Tests</directory>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC"/>
        <ini name="session.cookie_lifetime" value="42"/>

        <server name="HTTP_USER_AGENT" value="Koded/Session"/>
    </php>
</phpunit>
